html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

#mensaje {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  color: rgb(169, 169, 169);
  font-size: 2em;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  vertical-align: bottom;
  margin: 0;
}
